/* إعادة CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* نهاية إعادة CSS */






@import url('animate.css');
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);















/*بداية CSS*/
body {
	padding-top: 70px; 
	font-family: Droid Arabic Kufi,"Trebuchet MS", Arial, Helvetica, sans-serif;
	}
	
	
	
.navbar-fixed-top{
	background-color: #1e2327;
	color: #9A9A9A;
}

.navbar-default .navbar-brand {
    color: #FFF;
}
.navbar-default .navbar-brand:hover ,
.navbar-default .navbar-brand:focus{
    color: #FFF;
	text-decoration:none;
}
.navbar-default .navbar-nav > li > a {
    color: #B1B1B1;
	opacity: 0.8;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #FFF;
	background-color:transparent;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
	opacity: 100;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #9A9A9A;
	opacity: 100;
}
.navbar-default .navbar-nav > li > a:after {
    color: #FFF;
	opacity: 100;
}
.infcolor{
	color:#11ABE9;
	font-size:23px;
}
.infcolor2{
	color:#FFF;
	font-size:12px;
}
.navbar-toggle{
	
	border:0px;
}
.dropdown-menu li a:hover{
	background-color:#11ABE9;
}
.navbar-nav > li > .dropdown-menu {
	border-left-color:#11ABE9;
	border-right-color:#11ABE9;
	border-bottom-color:#11ABE9;
	padding-bottom:0px;
	padding-top:0px;
}
.dropdown-menu li a{
	padding-bottom:4px;
	padding-top:4px;
	
}
.caret{
	margin-top:8%;
	width:9px;
	height:9px;
}
	




